@{
    ViewBag.Title = "Home Page";
}

<h1>Wut Up brah!</h1>
<p>Some information around this website!</p>
<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
