<!DOCTYPE html>
<html>
<head>
    <title>Bio - @ViewBag.Title</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <div id="fullContent">
        <div id="sidebar">
            <img src="~/img/client2.png" alt="Info about image?" class="headshot" />
            <span id="userName">Sam Someone</span>
            <ul class="menu">
                <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
                <li><a asp-controller="App" asp-action="About">About</a></li>
                <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
            </ul>
        </div>
        <div id="main">
            <div>
                <button id="sideBarToggle" class="btn btn-primary btn-sm" >
                    <i class="fa fa-angle-left"></i>
                </button>
            </div>
            @RenderBody()
        </div>
    </div>
    <div id="footer">
        <p class="text-primary">&copy; Karolis Kajėnas 2017</p>
    </div>

    <script type="text/javascript" src="~/lib//jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
    <script type="text/javascript" src="~/js/site.js"></script>
</body>
</html>